.profile-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px 15px;
  width: 200px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}

.profile-card p {
  font-weight: bold; 
  color: #777777;
}