.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 1rem;

    background-color: #d0daf0;
    padding: 20px;             
    margin-bottom: 2rem;
}
.filter-dropdown,
.filter-search {
    display: flex;
    align-items: center;
}
label {
    font-weight: 700;
}
select,
input {
    height: 2rem;
    margin: 0 0.5rem;
}
button {
    padding: 0.25rem 0.75rem;
}
@media (max-width: 768px) {
.filter-container {
    flex-direction: column;
    align-items: stretch;
}
button {
    align-self: flex-start;
}
.filter-dropdown,
.filter-search {
    margin-bottom: 0.5rem;
}
select,
input {
    flex: 1;
}
}