.profile-detailCard {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px 15px;
  width: 250px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  margin: 40px auto;
}

.nightMode {
  background-color: #2c2c2c;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.profile-detail img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid #FFFFC2;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}

.profile-detail p {
  font-weight: bold; 
  color: #777777;
  text-align: center;
}

.nightMode p {
  color: #FFFFC2;
}

.nightMode img {
  border-color: #34495e;
}