.cardContainerWrapper {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 30px;
    margin: 20px auto;
    max-width: 1200px; 
    background-color: #d0daf0;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.nightMode {
    background-color: #243447; 
    border-color: #444;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.cardGridLayout {
    display: flex;           
    flex-wrap: wrap;         
    justify-content: flex-start; 
    gap: 20px;               
    padding: 20px;           
    max-width: 1200px;       
    margin: 0 auto;   
}