* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #000;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: #4863A0;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar nav {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-size: 40px;
  margin: 40px 10px 20px;
}

h2 {
  font-size: 32px;
  margin: 30px 10px 15px;
}

p {
  font-size: 16px;
  margin: 15px 10px 0px;
  text-align: left;
}

.card-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  gap: 20px;
  padding: 0 30px 50px 30px;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px 15px;
  width: 200px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}

.card p {
  font-size: 15px;
  color: #777777;
}