#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.Cardgrid {
  display: flex;           
  flex-wrap: wrap;         
  justify-content: left; 
  gap: 20px;               
  padding: 20px;           
  max-width: 1200px;       
  margin: 0 auto;        
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #000;
}

h1 {
  font-size: 40px;
  margin: 40px 10px 40px 10px;
}

h2 {
  font-size: 32px;
  margin: 30px 10px 30px 10px;
}

p {
  font-size: 16px;
  margin: 15px 10px 15px 10px;
  text-align: left;
}


